// Zellij configuration file

theme "solarized-dark"
default_shell "zsh"
copy_command "sh -c 'command -v wl-copy >/dev/null 2>&1 && wl-copy || command -v xclip >/dev/null 2>&1 && xclip -selection clipboard || command -v pbcopy >/dev/null 2>&1 && pbcopy || command -v clip.exe >/dev/null 2>&1 && clip.exe'"
show_startup_tips false
show_release_notes false

ui {
    pane_frames {
        rounded_corners true
    }
}

default_mode "locked"

keybinds {
    unbind "Ctrl g"
    locked {
        bind "Ctrl t" { SwitchToMode "Normal"; }
    }
    normal {
        bind "Ctrl t" { SwitchToMode "Locked"; }
    }
}
